body {font-family: "Roboto", Arial, Helvetica, sans-serif; font-weight:300; background-color: #fff;}
a:link, a:visited, #content a:link, dl.portlet a:link {color:purple;}
h1, h2, h3, h4, h5, h6 {font-family: "Roboto", Arial, Helvetica, sans-serif; font-weight:500;}
h1 {color: #005299;}
#nav {background: #005299;}
#content {font-size: 110%;}
#header {background-color: #fff;}
#demands {padding-bottom: 10px;float: left; margin-left: 3em;}
#demands img {max-width:100%;}
#demands a {display:block; width:100%;}
#payoff
{
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: purple;
}
#sections-wrapper
{
    background-color: transparent;
}
#nav
{
    background-color: #005299;
}
#portal-breadcrumbs
{
    border-bottom: 5px solid #005299;
}
#portal-breadcrumbs a:hover
{
    text-decoration: underline;
}
#breadcrumbs-current
{
    color: #005299;
}
#content .documentDescription
{
	font: 1.1em/1.2em "Roboto", Arial,Helvetica,sans-serif;
    font-weight: 500;
}
#content h1.documentFirstHeading
{
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
	color: #005299;
}

#content h1
{
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #005299;
}

#content h2
{
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #005299;
}

#content h3
{
    color: #005299;
}

#content h1 a:link, #content h1 a:visited
{
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
	color: #005299;
}

#category a.link-category, span.selectedTag {
    border-bottom: 0.1em solid #005299;
}
#content h2 > a:link , #content h2 > a:visited{
    font-weight:500;
    color: #005299;
}

#content a:link, dl.portlet a:link {
	border-bottom: 0.1em solid #005299;
}
#content a:visited, dl.portlet a:visited {
	border-bottom: 0.1em solid #005299;
}

#relatedItemBox dt
{
    color: #005299;
}

#doormat-wrapper
{
    background-color: #005299;
}


#doormat li
{
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    font-weight: 500;
    margin-right: 2em;
}

#content .discreet, #sidebar .discreet {
    color: #333;
    font-size: 85%;
    font-weight: 300;
}
#content .tileItem {
    border-top: 1px solid purple;
    padding-top: 1em;
}
#content .pullquote {
    font-weight: 300;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #0AA48F;
    clear: right;
    float: right;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 1em 20px 0.5em;
    min-height: 20px;
    padding: 19px;
    width: 35%;
}
#content .tile .image-inline {
    float: none;
}
#content a:link, dl.portlet a:link{
    font-weight: 300;
}